.bound{
    width: 200px;
    height: 200px;
    border: 2px solid black;
     background: linear-gradient(
        yellow, red, blue
     );
     animation-name: Rithvik;
     animation-duration: 7s;
     @keyframes Rithvik {
        10%{
        background: linear-gradient(
        yellow, red, blue )
     }
}